<% if( typeof error !== 'undefined' && error) {%>
    <p><%= error %></p>
<%};%>

<form action="/auth/login" method="POST">
    <label>Email:</label>
    <input type="email" name="email" id="email">
    <label>Hasło:</label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>

<a href="/auth/register">Zarejestruj</a>
<a href="/auth/code">Zresetuj Hasło</a>